<tr>
  <td><%= line_item.quantity %>&times;</td>
  <td><%= line_item.flower.name %></td>
  <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
</tr>

<tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
</tr>